font-family: 'Noto Sans TC', sans-serif;
font-family: 'Lato', sans-serif;

html, body {
  font-family: 'Lato', 'Noto Sans TC', sans-serif;
}
button{font: 'Lato', 'Noto Sans TC', sans-serif;}

head {
  overflow: hidden;
}
body{
  background-color: #f7f7f7;
}
.navbar .navbar-brand {
  color:#4592AF;
}

.navbar .navbar-brand:hover {
  color: #498074;
}
.create-button {
 background-color: #498074;
 color:#f7f7f7;
}
a {
  text-decoration:none;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://images.pexels.com/photos/1058277/pexels-photo-1058277.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-size: cover;
  filter: blur(3px);
}

.search-bar-inner  {
  margin: 0 ;
  width: 380px;
  border: 0;
  margin-top: 5%;
}
.dropdown-toggle{
  background-color:#498074;
  margin: 0 ;
 color:#f7f7f7;
 margin-top: 20px;
 height: 65%;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
  border-radius: 5px;
}

.btn-major {
  background-color:#498074;
  color: #f7f7f7;
  border-radius: 5px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  height: 180px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  color: #4592AF;
}
.card-footer{
  overflow:hidden;
  text-overflow:ellipsis;
}
.delete-button{
  background-color: #E59CAD;
  color: #f7f7f7;
}

.restaurant-category {
  color: #B6DBC1;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: #FBF3DE;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.restaurant-show {
background-color: #FBF3DE;
font: 18px Noto Sans TC;
color:#402C2B;
border-radius: 5%;
}
.restaurant-create,.restaurant-edit  {
background-color:#BBD0D9;
font: 1em Lato;
color:#402C2B;
border-radius: 5%;
}


@media screen and (max-width: 992px) {
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
  .card-footer{
    font-size: 0.8rem;
    margin-left: 5px;
  }
  .delete {
    font-size: 0.8rem;
    margin-left: 5px;
  }
}

@media screen and (max-width: 575px) {
  .card img{
    height: auto;
  }
}

.restaurant-card:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.2);
  position: relative;
}

